# CDK asset staging directory
.cdk.staging
cdk.out/

# TypeScript build artifacts
*.js
*.d.ts
dist/
coverage/
!jest.config.js
!.eslintrc.js
!.prettierrc.js
!lint-staged.config.js

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# Test coverage
coverage/
.nyc_output/

# CDK context
cdk.context.json

# Config files
nextjs-app/config/*.json

# Next.js build
**/out/
**/.next/

# Python cache
__pycache__/
*.py[cod]
*$py.class